body {
  background-color: #121a2d;
}

.h-modal div {
  height: fit-content;
}
.h-modal {
  height: 100vh;
}
[data-testid="flowbite-sidebar-item-group"] {
}
[aria-label="Sidebar with multi-level dropdown example"] div {
  height: fit-content;
  padding: 0;
  margin: 0;
  white-space: 0;
}
[aria-label="Sidebar with multi-level dropdown example"] div ul {
  margin: 0;
}
[aria-label="Sidebar with multi-level dropdown example"] div ul li button {
  color: #91a3b8;
}
[aria-label="Sidebar with multi-level dropdown example"] div ul li ul {
  padding: 0;
}
[aria-label="Sidebar with multi-level dropdown example"] div ul li button svg {
  color: #6b7280;
}
[aria-label="Sidebar with multi-level dropdown example"] div ul li ul li a {
  padding: 0px;
}
[aria-label="Sidebar with multi-level dropdown example"]
  div
  ul
  li
  ul
  li
  a
  span {
  padding: 0px;
  margin-top: 8px;
}
[aria-label="Sidebar with multi-level dropdown example"]
  div
  ul
  li
  ul
  li
  a
  span
  a {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 44px;
}
[aria-label="Sidebar with multi-level dropdown example"]
  div
  ul
  li
  button:hover
  svg {
  color: #91a3b8;
}
[aria-label="Sidebar with multi-level dropdown example"]
  div
  ul
  li
  button:hover
  [data-testid="flowbite-sidebar-collapse-icon"] {
  color: #91a3b8;
}

.singleItem {
  background-color: transparent;
}
.singleItem:hover {
  background-color: #1f2937;
  border-radius: 8px;
}
.singleItem:hover svg {
  fill: #91a3b8;
}

.modalBlurBody {
  background-color: #080b14ba;
  top: 0px;
  padding: 81px 6px;
  left: 0;
  position: fixed !important;
  min-height: 100vh;
}
